<% layout("/layouts/boilerplate")%>
<body>
    <h3>All Listings</h3>
    <!--<form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    
    <div class = "row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id%>" class="listing-link">
        <div class="card col" >
          <% if (listing.image && listing.image.url) { %>
            <img
              src="<%= listing.image.url %>"
              class="card-img-top show-img"
              alt="listing_image"
            />
          <% } else { %>
            <img
              src="https://images.unsplash.com/photo-1568605114967-8130f3a36994"
              class="card-img-top show-img"
              alt="default_image"
            />
          <% } %>
          
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"> 
                <b><%= listing.title%></b>  <br>
                <%= listing.price?.toLocaleString("en-IN") || "Price not available" %> / night
              </p>
            </div>
          </div>
        <% } %>
        </a>
    </div>

    
</body>
